body{
    margin:0;
    padding: 0;
    padding-top: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}

.auth{
    width: 400px;
    display:flex;
    flex-direction: column;
    align-items: center;
    border: 3px solid black;
    border-radius: 10px;
    padding: 20px;

}

#nameInput{
    padding: 10px;
    width: 200px;
}

#loginBtn {
    margin-top: 20px;
    padding: 10px 20px;

}

.check_levels{
    margin-top: 50px;
    display: flex;
    gap: 10px;
}

.check_levels button{
    padding: 10px 20px;
}