


.results-container {
    display: flex;
    align-items: center;
    justify-content: center; 
    height: var(--board-h);
}

/* .results{
    border: 3px solid black;
    border-radius:10px;
    padding:10px; 
}*/

.leaders {
  margin: 0;
  padding-left: 22px;
  text-align: left;
  width: min(420px, 80vw);
}

/* .leaders li {
  margin: 6px 0;
}  */