


.results-container {
    display: flex;
    align-items: center;
    justify-content: center; 
    height: var(--board-h);
}


.leaders {
  margin: 0;
  padding-left: 22px;
  text-align: left;
  width: min(420px, 80vw);
}

