body{
    margin:0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}
.board{
    border: 3px solid black;
    border-radius:10px;
    padding:10px; 
}

.buttons {
    display:flex;
    gap:10px;
    margin-top:12px;
}