*{
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color: var(--text-color);
  font-size: var(--font-base);
  font-weight: bold;

  display: flex;
  flex-direction: column;
  align-items: center;
  background: var(--background-pic);
  background-color: var(--color-bcg-bright);
}


/* окно с информацией */
.window-content {

  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  gap: var(--gap-lg);

  background-color: var(--color-banner);
  border: var(--border-bold);
  border-radius: var(--radius-mid);
  padding: var(--padding-lg);
  text-align: center;

}


/* кнопки  */

button {
  padding: 10px 20px;
  border-radius: var(--radius-sm);
  border: var(--border-thin);
  background: var(--color-btns);
  cursor: pointer;
  font: inherit;
  color: inherit;
  transition: 0.15s ease;
}

button:hover {
  opacity: 0.85;
}

.buttons-container{
  display: flex;
  justify-content: center;
  gap: var(--gap-sm);
  padding: var(--padding-sm);
}








