 .auth-container{

    display: flex;
    align-items: center;
    justify-content: center;
    height: var(--board-h);
} 


#nameInput{
    padding: 10px;
    width: 200px;
}

.avatar-container{
    display: flex;
    gap: var(--gap-sm);
}

.avatar{
    
    width: 70px;
    height: 70px;
    border-radius: 50%;
    object-fit: cover;
    object-position: top;
    transition:  0.3s;
}

.avatar-click {
    transform: scale(1.2);
    
}
.avatar:hover{
    cursor: pointer;
    animation: sway 1s linear infinite;
}

@keyframes sway {
  0%   { transform: rotate(0deg); }
  25%  { transform: rotate(5deg); }
  50%  { transform: rotate(0deg); }
  75%  { transform: rotate(-5deg); }
  100% { transform: rotate(0deg); }
}






